    <footer>
        <div class="container">
            <div class="margin-top">
                <div class="footer-links">
                    <ul *ngIf="!app.lotin">
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Сайт Ҳақида</a></li>
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Реклама</a></li>
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Биз билан боғланинг</a></li>
                    </ul>
                    <ul *ngIf="app.lotin">
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Sayt haqida</a></li>
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Reklama</a></li>
                        <li><a href="https://t.me/Ziyobaxsh" target="_blank">Biz bilan bog'laning</a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <div class="social-links">
                        <a href="https://t.me/Qashqadaryo_Qarshi_Shahrisabz_07" target="_blank" class="telegram">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a href="http://instagram.com/qashqadaryo_ahli" target="_blank" class="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="http://youtube.com/c/qashqadaryo_ahli" target="_blank" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://t.me/Qashqadaryo_Qarshi_Shahrisabz_07" target="_blank" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="created-by">
                    <!-- <span>created by <a href="https://idrok.net/" target="_blank" rel="noopener noreferrer">IDROK.NET</a>&nbsp; & &nbsp;<a href="http://mirjaloldev.uz/" target="_blank" rel="  noopener noreferrer">MIRJALOL</a></span> -->
                    <span>created by <a href="https://idrok.net/" target="_blank" rel="noopener noreferrer">IDROK.NET</a></span>
                </div>
                <div class="copyright">
                    <h1 *ngIf="!app.lotin">&copy; Qashqadaryoahli.uz Барча ҳуқуқлар ҳимоя қилинган</h1>
                    <h1 *ngIf="app.lotin">&copy; Qashqadaryoahli.uz Barcha huquqlar himoyalangan</h1>
                </div>
            </div>
        </div>
</footer>