    <footer>
        <div class="container">
            <div class="margin-top">
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Сайт Ҳақида</a></li>
                        <li><a href="#">Реклама</a></li>
                        <li><a href="#">Биз билан боғланинг</a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <div class="social-links">
                        <a href="#" class="telegram">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a href="#" class="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="created-by">
                   <a  href="https://idrok.net"><span>created by IDROK.NET </span></a>
                </div>
                <div class="copyright">
                    <h1>&copy; Qashqadaryo-ahli.uz Барча ҳуқуқлар ҳимоя қилинган</h1>
                </div>
            </div>
        </div>
</footer>