<section class="container1">
    <h2 class="title">Сўнги янгиликлар</h2>
    <div class="container">

        <div fxLayout="row wrap">

            <div fxFlex="100%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutGap="10px">
                <a routerLink="/type">
                    <div class="card" fxLayout.xs="row" fxLayout.sm="row" fxLayout="column">
                        <div class="card-img" fxFlex="5 1 0">
                            <img class="img" src="../../assets/hokim.jpg">
                        </div>
                        <div fxFlex="10 1 0">
                            <div class="data-time">
                                <mat-icon class="mat-icon">date_range</mat-icon><span
                                    class="type">Жаҳон</span>&nbsp;/&nbsp;
                                22.11.2021 18:21
                            </div>
                            <p class="text">Huawei ўзининг илк электромобили тақдимотини ўтказди

                            </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div fxLayoutGap="10px">
            <a routerLink="/type">
                <div class="button-card">
                    <button class="button" mat-flat-button color="primary">Кўпроқ ўқиш</button>
                </div>
            </a>
        </div>


    </div>
</section>