<div class="container">
    <div class="social-media-links" fxLayout="row wrap">

        <div class="social-media-link telegram" fxFlex="24%" fxFlex.sm="49%" fxFlex.xs="100%">
            <div class="margin">
                
                    <i class="fab fa-telegram-plane"></i>
                    <span>Telegram</span>
                
            </div>
        </div>
        <div class="social-media-link facebook" fxFlex="24%" fxFlex.sm="49%" fxFlex.xs="100%">
            <div class="margin">
                <i class="fab fa-facebook-f"></i>
                <span>Facebook</span>
            </div>
        </div>
        <div class="social-media-link instagram" fxFlex="24%" fxFlex.sm="49%" fxFlex.xs="100%">
            <div class="margin">
                <i class="fab fa-instagram"></i>
                <span>Instagram</span>
            </div>

        </div>

        <div class="social-media-link youtube" fxFlex="24%" fxFlex.sm="49%" fxFlex.xs="100%">
            <div class="margin">
                <i class="fab fa-youtube"></i>
                <span>Youtube</span>
            </div>

        </div>
    </div>
</div>