<!-- <div class="container1">
    <div class="container">

        <div fxLayout="row wrap">
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
            
                    </div>
                </div>
            </div>


            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/ice cream.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
                  
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
             
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/elon.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
           
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/ice cream-2.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
         
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
           
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
                
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="50%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
              
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="100%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
                    
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="100%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди

                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="100%">
                <div class="card">
                    <img class="img" src="../../assets/background-screening.jpg">
                    <div class="data-time">
                        <i class="far fa-newspaper"></i>
                        <span class="type">
                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                    </div>
                    <div class="text">
                        Huawei ўзининг илк электромобили тақдимотини ўтказди
              
                    </div>
                </div>
            </div>
            <div fxFlex="25%" fxFlex.sm="33.3%" fxFlex.xs="100%">
                <a routerLink="#">
                    <div class="card">
                        <img class="img" src="../../assets/hokim.jpg">
                        <div class="data-time">
                            <i class="far fa-newspaper"></i>
                            <span class="type">
                                Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                        </div>
                        <div class="text">
                            Huawei ўзининг илк электромобили тақдимотини ўтказди
                    
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div> -->