.container1{
    margin: auto;
}
@media screen and (max-width: 1520px) {
    //this
    .container1{
        width: 95% !important;
        margin: auto;
    
    }
}
@media screen and (min-width: 1520px) {
    //this
    .container1{
        width: 1350px !important;
    }
}