<div class="navbar-two" fxLayout="row" fxLayout.xs="row">
    <div class="fx" fxFlex="2 1 0">
        <div class="container">
            <h4>
                Телеграм &nbsp;&nbsp; канал
            </h4>

        </div>
    </div>

    <div class="fx" fxFlex="2 1 0">
        <div>Уз
            <span>Uz</span> 
        </div>
        
    </div>

    <div class="fx" fxFlex="2 1 0">
        valyuta
    </div>
    <div style="border-right: none;" class="fx" fxFlex="2 1 0">
        ob havo
    </div>


</div>