<div class="navbar-two" fxLayout="row" fxLayout.xs="row">
    <div class="fx" fxFlex="2 1 0">
        <div class="container">
            <h4 *ngIf="!app.lotin">
                Телеграм &nbsp;&nbsp; канал
            </h4>
            <h4 *ngIf="app.lotin">
                Telegram &nbsp;&nbsp; kanal
            </h4>
        </div>
    </div>

    <div class="fx" fxFlex="2 1 0">
        <div>
            <span>Уз</span>
            <span>Uz</span> 
        </div>
    </div>

    <div *ngIf="!app.lotin" class="fx" fxFlex="2 1 0">
        Валюта
    </div>
    <div *ngIf="app.lotin" class="fx" fxFlex="2 1 0">
        Valyuta
    </div>
    <div *ngIf="!app.lotin" style="border-right: none;" class="fx" fxFlex="2 1 0">
        Об ҳаво
    </div>
    <div *ngIf="app.lotin" style="border-right: none;" class="fx" fxFlex="2 1 0">
        Ob havo
    </div>
</div>