<div class="body">


    <div class="container1">
        <div *ngIf="!app.lotin" class="title">
            Бизни You-Tube да кузатинг
        </div>
        <div *ngIf="app.lotin" class="title">
            Bizni You-Tube da kuzating
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let link of youtubeLinks">
                <div class="card">
                    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="50%">
                            <iframe class="video" [src]="link?.link | youtube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div> 
                        <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="50%%">
                            <div *ngIf="!app.lotin" class="text">{{link?.caption}}
                            </div>
                            <div *ngIf="app.lotin" class="text">{{link?.caption | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>