<nav class="navbar">
  <div class="top-margin">
      <div class="container">
          <div class="navbar-brand">
            <a class="search-icon" *ngIf="app.home" (click)="sideNavOpen3.emit(true)" (click)="sidenav2()"><i class="fas fa-search icons"></i></a>
            <a class="search-icon" routerLink="/" *ngIf="!app.home" (click)="sidenavchange()"><i class="fas fa-home icons"></i></a>
            <a class="logo-img" routerLink="/" (click)="sidenavchange()"><img [src]="siteBrand" alt={{siteName}}></a>
          </div>
          <div class="nav-links">
            <ul *ngIf="!app.lotin">
                <li *ngFor="let type of types"><a  class="navbar-color" [routerLink]='["type",type?.id,type?.name]'>{{type?.name}}</a></li>

                <li class="dropdown">
                  <a href="#" class="navbar-color">Туман
                  <i class="fas fa-caret-down"></i>
                  </a>
                  <ul class="tuman-content">
                    <li *ngFor="let tuman of tumans"><a [routerLink]='["tuman",tuman?.id,tuman?.name]'>{{tuman?.name}}</a></li> 
                  </ul>
               </li>
            </ul>

            <!-- lotin -->
            <ul *ngIf="app.lotin">
                <li *ngFor="let type of types"><a  class="navbar-color" [routerLink]='["type",type?.id,type?.name]'>{{type?.name | translate}}</a></li>

                <li class="dropdown">
                  <a href="#" class="navbar-color">Tuman
                  <i class="fas fa-caret-down"></i>
                  </a>
                  <ul class="tuman-content">
                    <li *ngFor="let tuman of tumans"><a [routerLink]='["tuman",tuman?.id,tuman?.name]'>{{tuman?.name | translate}}</a></li> 
                  </ul>
               </li>
            </ul>

          </div>
          <div class="float-right">
            <div class="language" style="display: inline;">
              <select name="languages" #select (change)="til()" [value]="selectValue" id="languages">
                <option value="Ўзбекча">Ўз</option>
                <option value="Lotincha">O'z</option> 
              </select>
            </div>
              <a class="nav-search" routerLink="find"><i class="fas fa-search icons"></i></a>
              <span (click)="sideNavOpen.emit(true)" (click)="sidenav1()" class="menu-icon"><i class="fas fa-bars icons"></i></span>
          </div>
    
  </div>
</div>
</nav>