* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: 10px;
}

.container{
    margin: auto;
}

  .language select{
      width: 45px;
      height: 30px;
      border-radius: 10px;
      border: none;
      position: relative;
      top: -7px;
      margin-right: 40px;
      transition: 0.2s all;
      outline: none;
  }

  .nav-links {
      transition: all 0.2s;
  }
  
@media screen and (max-width: 835px) {
    .list li{
        font-size: 13px !important;
    }
    .nav-links ul li a{
        // color: #000000;
        font-size: 13px !important;
        margin-left: 6px !important;
        margin-right: 6px !important;
        font-weight: 500 !important;
    }

    .nav-links ul{
        // border: solid 1px #000;
        padding: 5px !important;
    }

    .language select{
        width: 40px; 
        height: 30px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 700px) {
    .nav-links{
        margin-left: -40px;
    }
    .language select{
        width: 40px;
        height: 25px;
        margin-right: 20px;
    }  
}


@media screen and (max-width: 1520px) {    
    .container{
        width: 95% !important;
        margin: auto;
    
    }
}
@media screen and (min-width: 1520px) {    
    .container{
        width: 1350px;
    }
}

.navbar{
    width: 100%;
    height: 45px;
    background-color: #000B49;
    border-bottom: solid 1px #707070;
    padding-top: 8px;
    padding-bottom: 15px;
}

.navbar-brand{
    display: inline;
}
li{
    cursor: pointer;
}

.navbar .navbar-brand img{
    width: 50px;
    height: 50px;
}

.nav-links ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    transition: 0.2s all;
}

.nav-links ul li a{
    color: #000000;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    
    transition: 0.2s all;
}
.nav-links ul{
    display: inline;
    background-color: #000B49;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.2s all;
}
.navbar-color{
    color: #fff !important;
    text-shadow: 2px 2px 10px rgb(0, 0, 0) !important;
}

.nav-links{
    display: block;
    width: auto;
    margin-top: -40px;
    text-align: center;
}
.float-right{
    float: right;
    margin-top: -25px;
}
.float-right .nav-search {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 7px 15px;
    position: relative;
    bottom: 3px;
    margin-right: 20px;
}
.float-right .nav-search .fa-search{
    color: black;
}
.menu-icon{
    display: none;
}
.search-icon{
    display: none;
}

.language{
    position: relative;
    top: 5px;
    left: 10px;
}
.brand-logo{
    display: none;
}

.list{
    text-align: center;
    // width: 80%;
    // margin: auto;
}

.list li{
    display: inline-block !important;
    margin-left: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.tuman-a{
    color: rgb(0, 0, 0);
    border-left: 1px solid black;
    padding-left: 10px;


}

@media screen and (max-width: 599px) {
    
    .tuman{
        display: none;
    }
.nav-links {
    display: none;
}
.float-right .nav-search {
    display: none;
}
.menu-icon{
    display: block;
    margin-top: 26px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: #fff;
}
    .logo-img{
       position: absolute;
       left: 45%;
       top: 8px;    
    }

    .search-icon{
        display: inline-block;
       
        list-style: none;
        color: #fff !important;
    }

    .search-icon .fa-search{
         font-size:18px;
        height: 18px;
        width: 18px;
        margin-top: 15px;
    }
    .search-icon .fa-home{
        font-size:18px;
       height: 18px;
       width: 18px;
       margin-top: 17px;
   }
    .menu-icon .fa-bars{
        font-size:18px;
        height: 18px;
        width: 18px;
        margin-top: 13px;
    }
    .language select{
        display: none;
    }

}
.icons{
    font-size: medium;
}
