*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
}
.title{
    text-align: center;
    font-size: x-large;
    font-weight: 450;
    margin-top: 20px;
}
.card{
    width: 90%;
    margin: auto;
    // background:  rgb(255, 255, 255);
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.img{
    width: 100%;
    height: 145px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.data-time{
    color: black;
    margin-left: 5px;
}

#icon-newspaper{
    font-size: large;
    margin-right: 3px;
}

.type{
    font-size: 14px;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 400;
}
.text2{
    width: 95%;
    margin: auto;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.button-card{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    width: 100%;
    margin-top: 8px;
}
@media screen and (max-width: 959px) {

}

@media screen and (max-width: 599px) {
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 95%;
        margin: auto;
    }
    .title{
        text-align: center;
        font-size: large;
        font-weight: 400;
        margin-top: 20px;
    }
    .card{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 20px;
        border-radius: 5px;
    }
    .img{
        width: 100%;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
    
.data-time{
    color: black;
    margin-left: 0px;
    font-size: 10px;
}

#icon-newspaper{
    font-size: small;
    margin-right: 3px;
}

.type{
    font-size: 12px;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 400;
}
.text2{
    width: 95%;
    margin: auto;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
}