<section class="body">
<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">

    <div fxFlex="5.5 1 0">

        <div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutGap="20px">

            <div fxFlex="2 1 0" class="margin-t">

                <div fxLayout="row">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/xiva.jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>



                <div fxLayout="row" class="margin-t">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/images (5).jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>

                <div fxLayout="row" class="margin-t">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/images (5).jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>

            </div>


            <div fxFlex="2 1 0">

                <div fxLayout="row" class="margin-t">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/images (5).jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>

                <div fxLayout="row" class="margin-t">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/background-screening.jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>


                <div fxLayout="row" class="margin-t">
                    <div fxFlex="2 1 0">
                        <img class="img" src="../../assets/images (5).jpg">
                    </div>
                    <div fxFlex="3 1 0">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque repellendus rem omnis
                            esse ab dolores ad earum maiores sit.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div fxFlex="2 1 0">
        <app-most-view></app-most-view>
    </div>


</div>
</section>