.margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    width: 95%;
    margin: auto;
}
.img{
    width: 90%;
    height: 120px !important;
}
.text{
    width: 48%;
    margin: auto;
}
.margin-t{
    margin-top: 30px;
}
.flex-container{
    width: 95%;
    margin: auto;
}