<section class="body">

    <div class="container1">
        <!-- <div class="reklama">
            <h1>Reklama</h1>
        </div> -->
        <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">

            <div fxFlex="5.5 1 0">

            
                <!-- <div class="flex-container" fxLayout="row" fxLayout.xs="column" class="main-message">
                    <div fxFlex="2 1 0">
                        <a routerLink="/"><img class="img" src="../../assets/elon.jpg" alt=""></a>
                    </div>

                    <div fxFlex="2 1 0">
                        <a routerLink="/">
                            <div class="text">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <h1 class="text-title">
                                    “Фақат интернетга эмас, Ўзбекистон тараққиётига қўйилган тўсиқ”. IT-тадбиркорлар –
                                    тармоқлар
                                    блокланиши ҳақида
                                </h1>
                                <div class="text-paragraf">
                                    Тармоқлар чекланиши айни соатларда ҳам давом этмоқда ва қонун амалда экан, чеклов
                                    доираси яна
                                    кенгайиши мумкин. Kun.uz бу борада IT соҳаси вакилларининг фикрлари билан қизиқди.
                                </div>
                            </div>
                        </a>
                    </div>

                </div> -->
                <!-- Qushimcha xabarlar yozilgan qator -->

                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <div fxFlex="2 1 0">


                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/images (5).jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/xiva.jpg">
                            </div>
                            <div fxFlex="3 1 0">

                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>


                            </div>
                        </div>



                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/images (5).jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>

                    </div>


                    <div fxFlex="2 1 0">

                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/images (5).jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" class="margin-t">

                            <div class="card-img" fxFlex="2 1 0">
                                <img class="img2" src="../../assets/ice cream.jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>


                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/elon.jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>






            <!-- Sungi yangiliklar qatori -->
            <div fxFlex="2 1 0">
              <app-most-view></app-most-view>
            </div>
        </div>
    </div>
</section>
