<section class="body">

    <div class="container1">
        <!-- <div class="reklama">
            <h1>Reklama</h1>
        </div> -->
        <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">

            <div fxFlex="5.5 1 0">

                <!-- Qushimcha xabarlar yozilgan qator -->

                <div fxLayout="row wrap">

                    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutGap="10px">
                        <div fxLayout="row" class="margin-t">
                            <div fxFlex="2 1 0" class="card-img">
                                <img class="img2" src="../../assets/images (5).jpg">
                            </div>
                            <div fxFlex="3 1 0">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <div class="text">
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                    Huawei ўзининг илк электромобили тақдимотини ўтказди
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>






            <!-- Sungi yangiliklar qatori -->
            <div fxFlex="2 1 0">
                <app-most-view></app-most-view>
            </div>
        </div>
    </div>
</section>