

.container1{
    width: 97%;
    margin: auto;
    height: 100%;
    padding-top: 20px;
    background: #ffffff ;
}
.main-message{
    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}
.img{
    width: 95%;
    margin: auto;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.type{
    font-size: 16px;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 17px;
    font-weight: 400;
}
.data-time{
    color: black;
    margin-top: 20px;
}
.text-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: black;
}
.text-paragraf{
    color: rgba(0, 0, 0, 0.801);
    margin-top: 20px;
}
.fa-newspaper{
    font-size: x-large;
    margin-right: 3px;
}

.additional-message{
    margin-top: 20px;
}

.images{
    width: 95%;
    height: 200px;
}
.card-position2{
text-align: center;

}
.card-position3{
    text-align: right;
}
.data-time-two{
    color: rgba(0, 0, 0, 0.678);
    text-align: center;
}
.images-title{
    width: 90%;
    margin: auto;
    font-weight: 450;
    font-size: large;
    text-align: center;
}









.navbar-two{
    display: none;
}
.img-container{
    margin: 20px 20px 0px 20px;
}
.flex-container{
    background:  #fff;
}


.sungi-yangilik{
    background: #fff;
    margin: 20px 20px 0px 0px;
}
.container{
    width: 95%;
    margin: auto;
}
.time{
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.title{
    text-align: center;
}

.flex-container-two{
    margin-top: 20px;
    width: 100%;
}


.reklama{
    width:70%;
    height: 100px;
    margin: auto;
    background-color: black;
}
.reklama h1{
    color: #fff;
    text-align: center;
}
.containercha{
    text-align: center;
}
.display-none-image{
    display: none;
}
.navbar-button{
    display: none;
}
.hr{
    border: 1px dashed lightgrey;
}

@media screen and (max-width: 599px) {
    .text{
    width: 90%;
    margin: auto;
    background-position: center;
    background-size: cover;
}
// .navbar-button{
//     display: block;
// }

.navbar-button{
    display: block;
}
.images-mini{

    width: 100%;
    height: 90%;
    
}
.display-none-image{
    display: block;
}

.img{
    width: 100%;
}
.sungi-yangilik{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.containercha{
    text-align: center;
}
.navbar-two{
    display: block;
}
.reklama{
    width:90%;
    height: 100px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}
.text-paragraf{
    display:none;
}
    






.card-margin{
    margin-top: 20px;
}
.card-position1{
    text-align: center;
}

.card-position3{
    text-align: center;
}
}