<section class="body">

    <div class="container1">
        <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
            <div fxFlex="5.5 1 0">

                <div class="title">
                   {{typeMessages[0]?.types?.name}} турга оид сўнги янгиликлар
                </div>
                <!-- <div class="flex-container" fxLayout="row" fxLayout.xs="column" class="main-message">
                    <div fxFlex="2 1 0">
                        <a routerLink="/"><img class="img" src="../../assets/elon.jpg" alt=""></a>
                    </div>

                    <div fxFlex="2 1 0">
                        <a routerLink="/">
                            <div class="text">
                                <div class="data-time">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <h1 class="text-title">
                                    “Фақат интернетга эмас, Ўзбекистон тараққиётига қўйилган тўсиқ”. IT-тадбиркорлар –
                                    тармоқлар
                                    блокланиши ҳақида
                                </h1>
                                <div class="text-paragraf">
                                    Тармоқлар чекланиши айни соатларда ҳам давом этмоқда ва қонун амалда экан, чеклов
                                    доираси яна
                                    кенгайиши мумкин. Kun.uz бу борада IT соҳаси вакилларининг фикрлари билан қизиқди.
                                </div>
                            </div>
                        </a>
                    </div>

                </div> -->
                <!-- Qushimcha xabarlar yozilgan qator -->

                <div fxLayout="row wrap">
                    <div fxFlex="33.3%" *ngFor="let message of typeMessages" fxFlex.sm="33.3%" fxFlex.xs="50%" (click)="openMessage(message?.id)">
                        <a>
                            <div class="card">
                                <img class="images" *ngIf="message?.image == null" src="../../assets/background-screening.jpg">
                                <app-image-download [faylId]="message?.image?.id"></app-image-download>
                                <div class="data-time2">
                                    <i class="far fa-newspaper" id="icon-newspaper2"></i>
                                    <span class="type2">
                                        {{message?.types?.name}}</span>&nbsp; / &nbsp; {{message?.dateTime}} 
                                </div>
                                <div class="text2">{{message?.caption}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- button joylashgan qator -->
                <div fxLayoutGap="10px">
                    <a>
                        <div class="button-card">
                            <button class="button" (click)="koproq()" mat-flat-button color="primary">Кўпроқ ўқиш</button>
                        </div>
                    </a>
                </div>

            </div>






            <!-- Sungi yangiliklar qatori -->
            <div fxFlex="2 1 0">
                <app-latest-news></app-latest-news>
            </div>
        </div>
    </div>
</section>
