<div #topScrollAnchor></div>
<app-navbar  (sideNavOpen3)="snav3.toggle()" (sideNavOpen)="snav2.toggle()"></app-navbar>
<mat-sidenav-container>
    <mat-sidenav #snav2  position="end" mode="push">
        <app-sidenav (sideNavOpen2)="snav2.toggle()" style="background: black;"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav #snav3  position="start" mode="push">
        <app-search (sideNavOpen3)="snav3.toggle()" style="background: black;"></app-search>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
          <router-outlet (activate)="onNavigate($event)"></router-outlet>
        </div>
        <app-social-media></app-social-media>
         <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
