*,
*:before,
*:after{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
.container1{
    width: 95%;
    margin: auto;
}

.reklama{
    width: 100%;
    height: 140px;
    background: #e5e5e5;
    margin-top: 20px;
    margin-bottom: 20px;
}


.card1{
    width: 97%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);

}
.img{
    width: 97%;
    height: 280px;
    background: #e5e5e5;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.data-time{
    width: 90%;
    margin: auto;
    height: 30px;
    background: #e5e5e5;
    margin-top: 10px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.text-title{
    width: 90%;
    margin: auto;
    height: 60px;
    background: #e5e5e5;
    margin-top: 20px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.text{
    width: 90%;
    margin: auto;
    height: 120px;
    background: #e5e5e5;
    margin-top: 20px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

.card{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);
}


.images{
    width: 100%;
    height: 170px;
    background: #e5e5e5;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.data-time2{
    background: #e5e5e5;
    margin-top: 8px;
    width: 90%;
    height: 30px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

.text2{
    margin-top: 10px;
    background: #e5e5e5;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}


/* Sungi yangiliklar yozilgan code */

.card3{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.2);  
}

@keyframes load{
    100%{
        background-position: -100% 0;
    }
}
.title3{
    width: 100%;
    height: 30px;
    background: #e5e5e5;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}


.card-img{
    display: none;
}
.img3{
    width: 90%;
    height: 75px;
    margin-bottom: 5px;
    background: #e5e5e5;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.data-time3{
    background: #e5e5e5;
    margin-top: 8px;
    width: 90%;
    height: 30px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.text3{
    width: 95%;
    height:80px;
    background: #e5e5e5;
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}











@media screen and (max-width: 600px) {


    .reklama{
        width: 100%;
        height: 90px;
        background: #e5e5e5;
        margin-top: 20px;
        margin-bottom: 0px;
        background: linear-gradient(
            120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%
        );
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 2s infinite;
    }
    


    .img{
        width: 100%;
        height: 150px;
    }

    .text-title{
        width: 95%;
        height: 40px;
        margin-top: 8px;
    }

    .text{
        width: 95%;
        height: 60px;
        background: #e5e5e5;
        margin-top: 10px;
    }


    /* Qushimcha yangiliklar */
    
.images{
    width: 100%;
    height: 70px;
}
.data-time2{
    background: #e5e5e5;
    margin-top: 8px;
    width: 90%;
    height: 20px;
}

.text2{
    margin-top: 10px;
    background: #e5e5e5;
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
}


/* Sungi yangiliklar yozilgan qator */
    .card-img{
        display: block;
        display: flex;
        align-items: center;
    }

    
.img3{
    width: 90%;
    height: 70px;
    margin-bottom: 5px;
    background: #e5e5e5;
            background: linear-gradient(
            120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%
        );
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 2s infinite;
}
.data-time3{
    background: #e5e5e5;
    margin-top: 15px;
    width: 90%;
    height: 20px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
.text3{
    width: 95%;
    height:40px;
    background: #e5e5e5;
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}
}