*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.title{
    text-align: center;
}
.container{
    width: 98%;
    margin: auto;
}
// .body{
//     background: blanchedalmond;
// }
.fa-newspaper{
    font-size: 20px;
}
.mat-icon{
    font-size: large;
}
.type{
    font-size: small;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 17px;
    font-weight: 400;
}
.data-time{
    color: rgba(0, 0, 0, 0.678);
}
.text{
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}
.images{
    display: none;
}
.card-img{
    display: none;
}
.button-card{
    width: 90%;
    margin: auto;
}
.button{
    width: 100%;
    margin-top: 8px;
}
@media screen and (max-width: 959px) {
    .card-img{
        display: block;
        display: flex;
        align-items: center;
    }

    .container{
        width: 95%;
        margin: auto;
    }
    .text{
        color: black;
        font-weight: 500; 
        font-size: small;
        padding-bottom: 0 !important;
        border-bottom: 0 !important;
    }
    .images{
        display: block;
    }
    .container-card{
        float: left;
    }
    .img{
        width: 90%;
        height: 75px;
        margin-bottom: 5px;
    }
    .card{
        width: 95%;
        border-bottom: 1px dashed black;
        display: block;
        margin-top: 10px;
    }
}

@media screen and (max-width: 599px) {

    .card-img{
        display: block;
        display: flex;
        align-items: center;
    }

    .container{
        width: 95%;
        margin: auto;
    }
    .text{
        color: black;
        font-weight: 500; 
        font-size: small;
        padding-bottom: 0 !important;
        border-bottom: 0 !important;
    }
    .images{
        display: block;
    }
    .container-card{
        float: left;
    }
    .img{
        width: 90%;
        height: 75px;
    }
    .card{
        border-bottom: 1px dashed black;
        display: block;
        margin-top: 10px;
    }

}