.flex-boxx{
    box-sizing: border-box !important;    
}
.container1{
    margin: auto;
}
@media screen and (max-width: 1520px) {
    .container1{
        width: 95% !important;
        margin: auto;
    }
}
@media screen and (min-width: 1520px) {
    .container1{
        width: 1350px !important;
    }
}

// Asosiy xabar yozilgan qator
.card{
    width: 95%;
    margin: auto;
}
.title{
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img{
    width: 100%;
    height: 380px;

}

.data-time{
    color: black;
    margin-top: 8px;
}

#icon-newspaper{
    font-size: x-large;
    margin-right: 3px;
}

.type{
    font-size: 16px;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 400;
}
.hashtag{
    width: 90%;
    margin-top: 10px;
    margin: auto;
}
.span-padding{
    padding-right: 15px;
    font-size: medium;
    color: #2344ff;
    margin: auto;
}
.reklama{
    width:75%;
    height: 140px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 959px) {
    .most{
        display: none;
    }
}
@media screen and (max-width: 1700px) and (min-width:1300px) {
    .img{
        height: 400px;
    }
}
@media screen and (max-width: 1299px) and (min-width:971px) {
    .img{
        height: 300px;
    }
}
@media screen and (max-width: 970px) and (min-width:800px) {
    .img{
        height: 533px;
    }
}
@media screen and (max-width: 799px) and (min-width:600px) {
    .img{
        height: 410px;
    }
}
@media screen and (max-width: 599px) and (min-width:400px) {
    .img{
        height: 300px;
    }
}
@media screen and (max-width: 399px) {
    .img{
        height: 180px;
    }
}
@media screen and (max-width: 959px) {
    .reklama{
        width:85%;
        height: 90px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 599px) {

.reklama{
    width:90%;
    height: 60px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}

}
img{
    width: 100px !important;
}
.long-text img{
    width: 100px !important;
}