<div class="body">

    <div class="toggle-select-lenguage">
        <mat-button-toggle-group class="button-toggle" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="button" value="bold">Uz</mat-button-toggle>
            <mat-button-toggle class="button" value="italic">Уз</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="flex-container" fxLayout="row">
        <div fxFlex="2 1 0">
            <h2 class="title">Rukunlar</h2>
            <ul class="list">

               <li><a routerLink="/">Iqtisodiyot</a></li>
               <li><a routerLink="/">Uzbekiston</a></li>
               <li><a routerLink="/">Jahon</a></li>
               <li><a routerLink="/">Siyosat</a></li>
               <li><a routerLink="/">Ijtimoiy</a></li>
               <li><a routerLink="/">Sport</a></li>
            </ul>
        </div>
        <div fxFlex="2 1 0">
            <h2 class="title">Tumanlar</h2>
            <ul class="list">
                <li><a routerLink="/">Qarshi</a></li>
                <li><a routerLink="/">G'uzor</a></li>
                <li><a routerLink="/">Dehqonobod</a></li>
                <li><a routerLink="/">Kasbi</a></li>
                <li><a routerLink="/">Kitob</a></li>
                <li><a routerLink="/">Koson</a></li>
                <li><a routerLink="/">Mirishkor</a></li>
                <li><a routerLink="/">Muborak</a></li>
                <li><a routerLink="/">Nishon</a></li>
                <li><a routerLink="/">Chiroqchi</a></li>
                <li><a routerLink="/">Shahrisabz</a></li>
                <li><a routerLink="/">Yakkabog'</a></li>
                <li><a routerLink="/">Qamashi</a></li>

            </ul>
        </div>
    </div>

    <div class="flex-container-two" fxLayout="row">
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer">Sayt Haqida</h2>
        </div>
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer">Reklama</h2>
        </div>
    </div>
</div>