<div class="body">

    <div class="toggle-select-lenguage">
        <mat-button-toggle-group class="button-toggle" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="button" value="bold">Uz</mat-button-toggle>
            <mat-button-toggle class="button" value="italic">Уз</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="flex-container" fxLayout="row">
        <div fxFlex="2 1 0">
            <h2 class="title">Rukunlar</h2>
            <ul class="list">
                <li *ngFor="let type of types"><a (click)="sideNavOpen2.emit(true)" (click)="openType(type?.id)">{{type?.name}}</a></li>
            </ul>
        </div>
        <div fxFlex="2 1 0">
            <h2 class="title">Tumanlar</h2>
            <ul class="list">
                <li *ngFor="let tuman of tumans"><a (click)="sideNavOpen2.emit(true)" (click)="openTuman(tuman?.id)">{{tuman?.name}}</a></li>
            </ul>
        </div>
    </div>

    <div class="flex-container-two" fxLayout="row">
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer">Sayt Haqida</h2>
        </div>
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer">Reklama</h2>
        </div>
    </div>
</div>