.body{
    width: 100%;
    height: 100%;
    background: #fff;
}
.button-toggle{    
    border-radius: 25px;
    margin-top: 15px;
}
.toggle-select-lenguage {
    text-align: center
}
.button{
    width: 70px;
    background: lightgrey;
    font-size: 16px;
    font-weight: 500;
}
.flex-container{
    margin-top: 25px;
}
.title{
    text-align: center;
    font-weight: 600;
}
.list{
    list-style: none;
    margin-left: 10px;
}
li{
    cursor: pointer;
}
.list li{
    margin-top: 10px;
}
.list li a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.sidebar-footer{
    text-align: center;
    font-weight: 500;
    color: #707070;
}
.flex-container-two{
    margin-top: 100px;
}