<div class="body">
    <div class="valyuta">
        <div class="content-box">
            <div class="valyuta-text">
                <p *ngIf="!app.lotin">Валюта Курси</p>
                <p *ngIf="app.lotin">Valyuta kursi</p>
            </div>
            <div class="valyutaa">
                <div>
                    <span>{{currency ? currency[23]?.code: "-"}}</span> <i class="fas fa-arrow-right"></i> <span class="to-uzs">UZS</span>
                    <span class="value">{{currency ? currency[23]?.cb_price: "-"}}</span>
                </div>
                <div>
                    <span>{{currency ? currency[7]?.code: "-"}}</span> <i class="fas fa-arrow-right"></i> <span class="to-uzs">UZS</span>
                    <span class="value">{{currency ? currency[7]?.cb_price: "-"}}</span>
                </div>
                <div>
                    <span>{{currency ? currency[18]?.code: "-"}}</span> <i class="fas fa-arrow-right"></i> <span class="to-uzs">UZS</span>
                    <span class="value">{{currency ? currency[18]?.cb_price: "-"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="toggle-select-lenguage">
        <mat-button-toggle-group class="button-toggle" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="button"  (click)="til('Lotincha')" (click)="sidenavchange()" value="bold">Uz</mat-button-toggle>
            <mat-button-toggle class="button"  (click)="til('Ўзбекча')" (click)="sidenavchange()" value="italic">Уз</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="flex-container" fxLayout="row">
        <div fxFlex="2 1 0" *ngIf="!app.lotin">
            <h2 class="title">Турлар</h2>
            <ul class="list">
                <li  *ngFor="let type of types"><a class="bottom" (click)="sidenavchange()" [routerLink]='["type",type?.id,type?.name]'>{{type?.name}}</a></li>
            </ul>
        </div>
        <div fxFlex="2 1 0" *ngIf="app.lotin">
            <h2 class="title">Turlar</h2>
            <ul class="list">
                <li   *ngFor="let type of types"><a class="bottom" (click)="sidenavchange()" [routerLink]='["type",type?.id,type?.name]'>{{type?.name | translate}}</a></li>
            </ul>
        </div>
        <div fxFlex="2 1 0" *ngIf="!app.lotin">
            <h2 class="title">Туманлар</h2>
            <ul class="list">
                <li *ngFor="let tuman of tumans"><a class="bottom" (click)="sidenavchange()" [routerLink]='["tuman",tuman?.id,tuman?.name]'>{{tuman?.name}}</a></li>
            </ul>
        </div>
        <div fxFlex="2 1 0" *ngIf="app.lotin">
            <h2 class="title">Tumanlar</h2>
            <ul class="list">
                <li *ngFor="let tuman of tumans"><a class="bottom" (click)="sidenavchange()" [routerLink]='["tuman",tuman?.id,tuman?.name]'>{{tuman?.name | translate}}</a></li>
            </ul>
        </div>
    </div>

    <div class="flex-container-two" fxLayout="row">
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer" *ngIf="!app.lotin"><a href="https://t.me/Ziyobaxsh" target="_blank">Сайт Ҳақида</a></h2>
            <h2 class="sidebar-footer" *ngIf="app.lotin"><a href="https://t.me/Ziyobaxsh" target="_blank">Sayt Haqida</a></h2>
        </div>
        <div fxFlex="2 1 0">
            <h2 class="sidebar-footer" *ngIf="!app.lotin"><a href="https://t.me/Ziyobaxsh" target="_blank">Реклама</a></h2>
            <h2 class="sidebar-footer" *ngIf="app.lotin"><a href="https://t.me/Ziyobaxsh" target="_blank">Reklama</a></h2>
        </div>
    </div>
</div>