<!-- <label for="" class="contact-input">
    <input type="text" placeholder="Қидирув">
    <button type="submit" class="btn">
      <span>Submit</span>
    </button>
</label> -->

<!-- <form action="/action_page.php" method="get" id="form1"> -->
<body>
    <div class="container">
        <header>
            <div class="search-form1">
                <form id="search-form">
                    <label for="search-text"></label>
                    <input type="text" id="search-text" name="search-text" placeholder="Қидирув">
                    <button type="submit" id="search-submit-btn">
                        <i class="fas fa-search"></i>         
                    </button>
                </form>
            </div>
        </header>
        <main>
            <div class="boxes">

                <div class="box">
                    <div class="box-img">
                        <img src="../../assets/elon.jpg" alt="">
                    </div>
                    <div class="box-text">
                        <div class="box-time">
                            <div class="box-time-logo">
                                <i class="far fa-calendar"></i>             
                            </div>
                            <div class="box-time-text">
                                <span>18:21/22.11.2021</span>
                            </div>
                        </div>
                        <div class="box-bottom-text">
                            <span>Млар аввал ва ҳозир: Магнатлар ўз ўрнини йўқотмоқда, ақл ғолиб чиқяпти</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="box-img"> -->
                        <img src="../../assets/elon.jpg" alt="">
                    <!-- </div> -->
                    <div class="box-text">
                        <div class="box-time">
                            <div class="box-time-logo">
                                <i class="far fa-calendar"></i>             
                            </div>
                            <div class="box-time-text">
                                <span>18:21/22.11.2021</span>
                            </div>
                        </div>
                        <div class="box-bottom-text">
                            <span>Миллиардерлар аввал ва ҳозир: Магнатлар ўз ўрнини йўқотмоқда, ақл ғолиб чиқяпти</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="box-img"> -->
                        <img src="../../assets/elon.jpg" alt="">
                    <!-- </div> -->
                    <div class="box-text">
                        <div class="box-time">
                            <div class="box-time-logo">
                                <i class="far fa-calendar"></i>             
                            </div>
                            <div class="box-time-text">
                                <span>18:21/22.11.2021</span>
                            </div>
                        </div>
                        <div class="box-bottom-text">
                            <span>лар аввал ва ҳозир: Магнатлар ўз ўрнини йўқотмоқда, ақл ғолиб чиқяпти</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="box-img"> -->
                        <img src="../../assets/elon.jpg" alt="">
                    <!-- </div> -->
                    <div class="box-text">
                        <div class="box-time">
                            <div class="box-time-logo">
                                <i class="far fa-calendar"></i>             
                            </div>
                            <div class="box-time-text">
                                <span>18:21/22.11.2021</span>
                            </div>
                        </div>
                        <div class="box-bottom-text">
                            <span>лар аввал ва ҳозир: Магнатлар ўз ўрнини йўқотмоқда, ақл ғолиб чиқяпти</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="box-img"> -->
                        <img src="../../assets/elon.jpg" alt="">
                    <!-- </div> -->
                    <div class="box-text">
                        <div class="box-time">
                            <div class="box-time-logo">
                                <i class="far fa-calendar"></i>             
                            </div>
                            <div class="box-time-text">
                                <span>18:21/22.11.2021</span>
                            </div>
                        </div>
                        <div class="box-bottom-text">
                            <span>лар аввал ва ҳозир: Магнатлар ўз ўрнини йўқотмоқда, ақл ғолиб чиқяпти</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>