section{
    background: #ECECEC;
    height: 100%;
}
.img-container{
    margin: 20px 20px 0px 20px;

}
.flex-container{
    background: #EFF2F8;
}
.img{
    width: 95%;
    margin: auto;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.sungi-yangilik{
    background: #fff;
    margin: 20px 20px 0px 0px;
}
.container{
    width: 90%;
    margin: auto;
}
.time{
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}
.title{
    text-align: center;
}
.img-two{
    display: none;
}
.text-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
.text-paragraf{
    margin-top: 30px;
}
.images{
    width: 280px;
    height: 250px;
    border-radius: 20px;
}
.flex-container-two{
    margin-top: 20px;
}
.images-title{
    width: 90%;
    margin: auto;
    font-weight: 500;
}
.reklama{
    width: 95%;
    height: 200px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}
.reklama div{
    font-size: 70px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 80px;
    
}
.containercha{
    text-align: center;
}
.display-none-image{
    display: none;
}
@media screen and (max-width: 599px) {
    .text{
    width: 90%;
    margin: auto;
    background-position: center;
    background-size: cover;
}
.images-mini{
    width: 100%;
    height: 90%;
    
}
.display-none-image{
    display: block;
}

.img{
    width: 100%;
}
.sungi-yangilik{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.containercha{
    text-align: center;
}

    
}