*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.navbar-button{
    display: none;
}
section{
    background: rgb(255, 255, 255);
    height: 100%;
}

.container1{
    width: 97%;
    margin: auto;
    height: 100%;
    margin-top: 20px;
}
.main-message{
    background: rgb(255, 255, 255);
    width: 100%;
}
.img{
    width: 95%;
    margin: auto;
    height: 300px;
    background-position: center;
    background-size: cover;
}
.text{
    margin-top: 20px;
}

.type{
    font-size: 16px;
    color: #2344ff;
    text-transform: capitalize;
    line-height: 17px;
    font-weight: 400;
}
.data-time{
    color: black;
}
.text-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: black;
}
.text-paragraf{
    color: rgba(0, 0, 0, 0.801);
    margin-top: 20px;
}
.fa-newspaper{
    font-size: x-large;
    margin-right: 3px;
}

.additional-message{
    margin-top: 20px;
}

.images{
    width: 95%;
    height: 200px;
}
.card-position2{
text-align: center;

}
.card-position3{
    text-align: right;
}
.data-time-two{
    color: rgba(0, 0, 0, 0.678);
    text-align: center;
}
.images-title{
    width: 90%;
    margin: auto;
    font-weight: 450;
    font-size: large;
}
.reklama{
    width:70%;
    height: 100px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}
.reklama h1{
    color: #fff;
    text-align: center;
}




@media screen and (max-width: 599px) {
    .container1{
        width: 100%;
    }
    .text{
    width: 90%;
    margin: auto;
    background-position: center;
    background-size: cover;
}
.navbar-button{
    display: block;
}
.img{
    width: 100%;
}

.navbar-two{
    display: block;
}
.reklama{
    width:90%;
    height: 100px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}
.text-paragraf{
    display:none;
}
    






.card-margin{
    margin-top: 20px;
}
.card-position1{
    text-align: center;
}

.card-position3{
    text-align: center;
}
.img{
    height: 250px;
    background-position: center;
    background-size: cover;
}
}