<app-loading *ngIf="load"></app-loading>
<body>
  <section>
    <div class="container1" >
      <div class="reklama" (click)="rekOpen(reklama1?.address)" *ngIf="reklama1!=null">
        <app-image-download 
        [fayl]="reklama1?.filename"></app-image-download>
      </div>
      <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
        <div fxFlex="5.5 1 0">
          <!-- Asosiy xabar yozilgan qator -->
          <div class="flex-container" *ngIf="homePageMessageLevel10[0]!=null"
            [routerLink]='["post",homePageMessageLevel10[0]?.id,homePageMessageLevel10[0]?.caption]' fxLayout="row"
            fxLayout.xs="column" class="main-message">
            <div fxFlex="2 1 0">
              <a>
                <img class="img" *ngIf="homePageMessageLevel10[0]?.image == null" src="assets/moon.jpg">
                <div style="display: inline-block;" class="img">
                  <app-image-download *ngIf="homePageMessageLevel10[0]?.image != null"
                    [fayl]="homePageMessageLevel10[0]?.image"></app-image-download>
                </div>
              </a>
            </div>

            <div fxFlex="2 1 0">
              <a routerLink="/">
                <div class="text">
                  <div class="data-time">
                    <i class="far fa-newspaper" id="icon-newspaper"></i>
                    <span class="type" *ngIf="!app.lotin">
                      {{homePageMessageLevel10[0]?.types?.name}}</span>
                      <span class="type" *ngIf="app.lotin">
                        {{homePageMessageLevel10[0]?.types?.name | translate}}</span>&nbsp; / &nbsp;
                    {{homePageMessageLevel10[0]?.dateTime}}
                  </div>
                  <div *ngIf="!app.lotin" class="text-title">{{homePageMessageLevel10[0]?.caption}}
                  </div>
                  <div *ngIf="app.lotin" class="text-title">{{homePageMessageLevel10[0]?.caption | translate}}
                  </div>
                  <div *ngIf="!app.lotin" class="text-paragraf">{{homePageMessageLevel10[0]?.shortText?.shortText}}
                  </div>
                  <div *ngIf="app.lotin" class="text-paragraf">{{homePageMessageLevel10[0]?.shortText?.shortText | translate}}
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!-- Qushimcha xabarlar yozilgan qator -->


          <div fxLayout="row wrap">
            <div fxFlex="33.3%" fxFlex.sm="33.3%" fxFlex.xs="50%" *ngFor="let message of homePageMessageLevel9"
              (click)="openMessage(message?.id,message?.caption)">
              <a>
                <div class="card" *ngIf="message!=null">
                  <img class="images" *ngIf="message?.image == null" src="assets/moon.jpg">
                  <div style="display: inline-block;" *ngIf="message?.image != null" class="images">
                    <app-image-download [fayl]="message?.image"></app-image-download>
                  </div>
                  <div class="data-time2">
                    <i class="far fa-newspaper" id="icon-newspaper2"></i>
                    <span *ngIf="!app.lotin" class="type2">
                      {{message?.types?.name}}</span>
                      <span *ngIf="app.lotin" class="type2">
                        {{message?.types?.name | translate}}</span>&nbsp; / &nbsp; {{message?.dateTime}}
                  </div>
                  <div *ngIf="!app.lotin" class="text2">
                    {{message?.caption}}
                  </div>
                  <div *ngIf="app.lotin" class="text2">
                    {{message?.caption | translate}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>


        <!-- Sungi yangiliklar qatori -->
        <div fxFlex="2 1 0">
          <app-latest-news></app-latest-news>
        </div>
      </div>
      <div class="reklama" *ngIf="reklama2!=null" (click)="rekOpen(reklama2?.address)">
        <app-image-download 
        [fayl]="reklama2?.filename"></app-image-download>
      </div>
    </div>
  </section>


  <app-home-page-two></app-home-page-two>

  <app-home-page-three [HomePageMessageLevel8]="homePageMessageLevel8"></app-home-page-three>
</body>
