<body>
    <section>

        <app-navbar-bottom class="navbar-button"></app-navbar-bottom>
    
        <div class="reklama">
            <h1>Reklama</h1>
        </div>
    
        <div class="container1">
    
            <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    
                <div fxFlex="5.5 1 0">
    
                    <!-- Asosiy xabar yozilgan qator -->
                    <div class="flex-container" fxLayout="row" fxLayout.xs="column" class="main-message">
                        <div fxFlex="2 1 0">
                            <a routerLink="/"><img class="img" src="../../assets/elon.jpg" alt=""></a>
                        </div>
    
                        <div fxFlex="2 1 0">
                            <a routerLink="/">
                                <div class="text">
                                    <div class="data-time">
                                        <i class="far fa-newspaper"></i>
                                        <span class="type">
                                            Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                    </div>
                                    <h1 class="text-title">
                                        “Фақат интернетга эмас, Ўзбекистон тараққиётига қўйилган тўсиқ”. IT-тадбиркорлар –
                                        тармоқлар
                                        блокланиши ҳақида
                                    </h1>
                                    <div class="text-paragraf">
                                        Тармоқлар чекланиши айни соатларда ҳам давом этмоқда ва қонун амалда экан, чеклов
                                        доираси яна
                                        кенгайиши мумкин. Kun.uz бу борада IT соҳаси вакилларининг фикрлари билан қизиқди.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Qushimcha xabarlar yozilgan qator -->
    
                    <div class="additional-message" fxLayout="row" fxLayout.xs="column">
    
                        <!-- birinchi card -->
                        <div fxFlex="2 1 0">
                                <div class="card-position1">
                                    <img class="images" src="../../assets/ice cream.jpg" alt="">
                                </div>
                                <div class="data-time-two">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                                <h2 class="images-title">«Печкамизнинг довруғи қўшни вилоятларгача етиб борган» — Ургутлик уста</h2>
                        </div>
    
                        <!-- ikkinchi card -->
                        <div class="card-margin" fxFlex="2 1 0">
                            <div class="card-position2">
                                <img class="images" src="../../assets/ice cream-2.jpg" alt="">
                                <div class="data-time-two">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                            </div>
                            
                            <h2 class="images-title">Кимнинг ёши нечада: Ўзбек амалдорларининг ёш бўйича таснифи</h2>
                        </div>
    
                        <!-- uchinchi card -->
                        <div class="card-margin" fxFlex="2 1 0">
                            <div class="card-position3">
                                <img class="images" src="../../assets/ice cream-3.jpg" alt="">
                                <div class="data-time-two">
                                    <i class="far fa-newspaper"></i>
                                    <span class="type">
                                        Жаҳон</span>&nbsp; / &nbsp; 22.11.2021 18:21
                                </div>
                            </div>
                            <h2 class="images-title">Мардикорликдан YouTube юлдузигача — SUBYEKTIV'да “Мактаб” сериали</h2>
                        </div>
                    </div>
    
                </div>
    
    
    
    
    
                <!-- Sungi yangiliklar qatori -->
                <div fxFlex="2 1 0">
                    <app-latest-news></app-latest-news>
                </div>
            </div>
    
        </div>
    </section>
    
    
    <app-home-page-two></app-home-page-two>
    
    <app-home-page-three></app-home-page-three>
</body>