<section>
    <div class="container">
        <div class="big-news">
            <div class="big-news-left">
                <div class="big-news-pic">

                </div>
                <div class="big-news-type-date">
                    <div class="text-center">
                        <div class="type">
                            <span>
                                <!-- tur bo'ladi masalan TECHNOLOGY -->
                            </span>
                        </div>
                        <div class="date">
                            <div class="big-news-date-logo">
                                <!-- img bo'ladi yoki svg rasm -->
                            </div>
                            <div class="time">
                                <span>
                                    <!-- vaqt bo'ladi masalan 17:00 -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="big-news-right">
                <div class="big-news-container">
                    <div class="big-news-main-text">
                        
                    </div>
                    <div class="big-news-additional-text">

                    </div>
                </div>
            </div>

        </div>

        
    </div>
</section>