<section>
    <div class="container">
        <div class="big-news">
            <div class="big-news-left">
                <div class="big-news-pic">
                    <img src="../../assets/hokim.jpg" alt="YANGILIK-RASM">
                </div>
                <div class="big-news-type-date">
                    <div class="text-center">
                        <div class="type">
                            <span>
                                <!-- tur bo'ladi masalan TECHNOLOGY -->
                                TECHNOLOGY
                            </span>
                        </div>
                        <div class="date">
                            <div class="big-news-date-logo">
                                <!-- img bo'ladi yoki svg rasm -->
                                <img src="../../assets/calendar-regular.png" alt="">
                            </div>
                            <div class="time">
                                <span>
                                    <!-- vaqt bo'ladi masalan 17:00 -->
                                    17:00
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="big-news-right">
                <div class="big-news-container">
                    <div class="big-news-main-text">
                        Зойир Мирзаев Тошкент вилояти ҳокими этиб тайинланди
                    </div>
                    <div class="big-news-additional-text">
                        Ортиқхўжаев 2018 йил апрелидан буён Тошкент шаҳрига раҳбарлик қилиб келмоқда.
                    </div>
                </div>
            </div>

        </div>

        
    </div>
</section>